extends layout

block content
  form(action="/save", method="post")
    - if (notes.length)
      - for (eachNote of notes)
        - var day = eachNote.date.slice(0,3).toLowerCase()
        - if (day === "sat")
          - day = "etc"
        .note
          - if (day === "etc")
            .date Other Notes
          - else
            .date #{eachNote.date}
          textarea(id=`note-${day}` name=`${day}`)= eachNote.note
          input(id=`note-date-${day}` type='hidden' value=`${eachNote.date}`)
          
    - else
      - console.log("no notes")
    
    - if (user)
      input(type="submit" class=`${wall}` value="")#save1
    - else
      #show-login-rec-msg
      
  