extends layout

block content
  form(action="/save", method="post")
    .note
      .date #{week[1]}
      textarea(name="mon")= notes.mon
    .note
      .date #{week[2]}
      textarea(name="tue")= notes.tue
    .note
      .date #{week[3]}
      textarea(name="wed")= notes.wed
    .note
      .date #{week[4]}
      textarea(name="thu")= notes.thu
    .note
      .date #{week[5]}
      textarea(name="fri")= notes.fri
    .note
      .date Weekend
      textarea(name="wkn")= notes.wkn
    - if (user)
      input(type="submit" class=`${wall}` value="")#save
    - else
      #show-login-rec-msg
      
  