extends layout

block content
  .note
    .date #{week[1]}
    textarea(name="mon")
  .note
    .date #{week[2]}
    textarea(name="tue")
  .note
    .date #{week[3]}
    textarea(name="wed")
  .note
    .date #{week[4]}
    textarea(name="thu")
  .note
    .date #{week[5]}
    textarea(name="fri")
  .note
    .date Weekend
    textarea(name="wkd")
  