extends layout

block content
  form(action="/save", method="post")
    .note
      .date #{week[1]}
      textarea#note-mon(name="mon")= notes.mon
    .note
      .date #{week[2]}
      textarea#note-tue(name="tue")= notes.tue
    .note
      .date #{week[3]}
      textarea#note-wed(name="wed")= notes.wed
    .note
      .date #{week[4]}
      textarea#note-thu(name="thu")= notes.thu
    .note
      .date #{week[5]}
      textarea#note-fri(name="fri")= notes.fri
    .note
      .date Other Memo
      textarea#note-etc(name="etc")= notes.etc
    - if (user)
      input(type="submit" class=`${wall}` value="")#save
    - else
      #show-login-rec-msg
      
  